<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p><% if @task.completed == true  %>
      <input type="checkbox" name="completed" id="" checked>
      <label for="completed">This task has been completed</label>
    <% else %>
      <input type="checkbox" name="not completed" id="" >
      <label for="not completed">This task has not been completed yet</label>
    <% end %>
</p>

<div class="btn btn-primary list-inline" id="btn-edit" >
  <a href="" class="link"><%= link_to 'Edit', edit_path %></a>
</div>

<div class="btn btn-primary list-inline" id="btn-back" >
  <a href=""><%= link_to 'Go back', tasks_path %></a>
</div>

<div class="btn btn-primary list-inline" id="btn-back" >
  <a href=""><%= link_to 'Delete', task_path(@task), method: :delete %></a>
</div>